body {
  background-color: #e9ebee;
}
textarea,
.form-control {
  border: 0;
  border-radius: 0;
  resize: none;
}

/*top-navigation-bar*/

.topnavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 6px 26px;
  height: 42px;
  background: #3b5e95;
  border-bottom: 1px solid #294c7b;
  overflow: hidden;
}
.topnavbar .user {
  float: right;
}
.topnavbar .user .links {
  position: relative;
  top: -4px;
  display: inline-block;
  padding: 0;
}
.topnavbar .user .links a {
  padding: 9px 8px;
  color: #fff;
  font-size: 12px;
}
.topnavbar .user .links a img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 9px;
}
.topnavbar .user .links a:hover {
  background: #355486;
  text-decoration: none;
}
.topnavbar .user .links:nth-child(2) a {
  margin-right: 16px;
  border-left: 1px solid #355485;
}
.topnavbar .user .notifications {
  display: inline-block;
  position: relative;
  top: 3px;
}
.topnavbar .user .notifications .links a {
  margin: 0;
  border: 0;
}
.topnavbar .user .notifications a {
  color: #17253c;
  font-size: 21px;
}
.topnavbar .user .notifications a:hover {
  color: #111;
  background: transparent;
}
.topnavbar .user .links:nth-child(4) a {
  margin-left: 16px;
  border-left: 1px solid #355485;
}
.topnavbar .search-box {
  display: inline-block;
  width:30%;
  padding-left:20px;
}
.topnavbar .search-box .input-group * {
  font-size: 12px;
  height: 25px;
  border: 1px solid #fff;
  background: #fff;
  outline: 0;
  overflow:hidden;
}
.topnavbar .search-box .input-group button {
  color: #7a7a7a;
  -webkit-transition: all ease 150ms;
  transition: all ease 150ms;
}
.topnavbar .search-box .input-group button:hover {
  color: #000;
}
.leftnavbar {
  left: 0;
}
.leftnavbar {
  position: fixed;
  top: 42px;
  bottom: 0;
  width: 250px;
  background: #e9ebee;
  overflow: auto;
}
.leftnavbar .leftnavContainer {
  padding: 10px;
  margin-left: 10px;
}
.leftnavbar .leftnavContainer a {
  display: inline-block;
  color: #000;
  font-size: 12px;
  width: 100%;
  padding: 2px 8px;
}
.leftnavbar .leftnavContainer a img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.leftnavbar .leftnavContainer .counter {
  float: right;
  color: #90949c;
}
.leftnavbar .leftnavContainer .counter .fa-ellipsis-h {
  font-size: 20px;
}
.leftnavbar .leftnavContainer .activepage {
  padding-top: 5px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #dddfe2;
}
.leftnavbar .group-content h4 {
  margin: 20px 0 8px 0;
  font-size: 13px;
  color: #444;
  text-transform: uppercase;
}
.leftnavbar a:last-child .fa-caret-down {
  margin-right: 12px;
}

/*news-feed*/

.news-feed {
  position: absolute;
  top: 42px;
  bottom: 0;
  left: 250px;
  right: 0;
  padding: 12px 7px;
  background: #e9ebee;
  overflow: auto;
}
.news-feed .post {
  border-radius: 2px;
  border: 1px solid #dddfe2;
  margin-bottom: 15px;
  overflow: hidden;
}
.news-feed .post .headerpost,
.news-feed .post .newpostfooter {
  padding: 4px 5px;
  background: #f6f7f9;
}
.news-feed .post .headerpost li,
.news-feed .post .newpostfooter li {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.news-feed .post .headerpost li:first-child,
.news-feed .post .newpostfooter li:first-child {
  float: left;
}
.news-feed .post .headerpost li:last-child,
.news-feed .post .newpostfooter li:last-child {
  float: rght;
}
.news-feed .post .headerpost h4,
.news-feed .post .newpostfooter h4 {
  font-size: 14px;
  margin: 10px 5px;
  color: #666;
}
.news-feed .post .headerpost a:first-child,
.news-feed .post .newpostfooter a:first-child {
  margin-right: 5px;
}
.news-feed .post .headerpost a,
.news-feed .post .newpostfooter a {
  font-size: 14px;
}
.news-feed .post .headerpost a img,
.news-feed .post .newpostfooter a img {
  width: 40px;
  height: 40px;
  margin: 5px 5px 0 5px;
}
.news-feed .post .headerpost a .name,
.news-feed .post .newpostfooter a .name {
  position: relative;
  top: -6px;
}
.news-feed .post .headerpost a .fa,
.news-feed .post .newpostfooter a .fa {
  display: inline-block;
  margin: 5px;
}
.news-feed .post .headerpost > span,
.news-feed .post .newpostfooter > span {
  position: relative;
  top: -6px;
  left: -4px;
  font-size: 14px;
}
.news-feed .post .headerpost p,
.news-feed .post .newpostfooter p {
  position: relative;
  top: -22px;
  left: 55px;
  font-size: 12px;
}
.news-feed .post .headerpost p a,
.news-feed .post .newpostfooter p a {
  font-size: 12px;
  color: #4b4f56;
  margin-right: 5px;
}
.news-feed .post .headerpost .rightsideofpost,
.news-feed .post .newpostfooter .rightsideofpost {
  position: relative;
  top: -73px;
  float: right;
 
}
.news-feed .post .headerpost .rightsideofpost .personpostmenu,
.news-feed .post .newpostfooter .rightsideofpost .personpostmenu {
  color: #4b4f56;
}
.news-feed .post .headerpost li a,
.news-feed .post .newpostfooter li a {
  font-size: 14px;
  color: #4b4f56;
  margin-right: 5px;
}
.news-feed .post .headerpost li a .fa,
.news-feed .post .newpostfooter li a .fa {
  display: inline-block;
  margin: 5px;
}
.news-feed .post .likes {
  padding: 4px 5px;
  background: #f6f7f9;
}
.news-feed .post .likes li a {
  font-size: 14px;
  color: #4b4f56;
  margin-right: 5px;
}
.news-feed .post .likes li a .fa {
  display: inline-block;
  margin: 5px;
}
.news-feed .post .newpost textarea,
.news-feed .post .newpost .postcontent {
  display: inherit;
  padding: 10px;
  width: 100%;
  height: 100%;
  background: #f6f7f9;
}
.news-feed .post .newpost .postcontent {
  position: relative;
  margin-top: -40px;
  padding-bottom: 40px;
  white-space: pre-line;
}
.news-feed .post .newpostfooter {
  margin-top: 1px;
}
.news-feed .post .commentpost {
  display: inherit;
  background: #f6f7f9;
  margin-top: -1px;
  padding: 5px;
}
.news-feed .post .commentpost img {
  margin: 10px;
  height: 40px;
  
}
.news-feed .post .commentpost .input-group-btn {
  display: inline-block;
  background: #fff;
}
.news-feed .post .commentpost .input-group-btn a {
  margin-top: 10px;
}
.news-feed .post:nth-child(1) .newpostfooter li:first-child .fa {
  color: #96b756;
}
.news-feed .post:nth-child(1) .newpostfooter li:nth-child(2) .fa {
  color: #f1c04e;
}
.news-feed .post:nth-child(1) .newpostfooter li:last-child a:last-child {
  font-size: 20px;
}

/*user-feeds*/

.user-feeds {
  position: fixed;
  top: 42px;
  bottom: 0;
  width: 250px;
  background: #e9ebee;
  right: 0;
  display: block;
  width: 300px;
  padding: 12px 7px;
  background: #e9ebee;
  overflow-x: auto;
}
.user-feeds > div > a,
.user-feeds > div > p {
  font-size: 12px;
}
.user-feeds .section {
  border-radius: 2px;
  border: 1px solid #dddfe2;
  margin: 0 0 15px 0;
  overflow-y: hidden;
  padding: 4px 5px;
  background: #f6f7f9;
}
.user-feeds .section h4:nth-child(1) {
  font-size: 14px;
  margin: 6px;
  padding: 6px;
  color: #888;
}
.user-feeds .section h4:nth-child(1) a {
  float: right;
  color: #8a8a8a;
}
.user-feeds .section p a {
  display: block;
}
.user-feeds .section p a span:not(:first-child) {
  display: inline-block;
  margin-left: 4px;
  font-size: 9px;
  padding: 1px 2px;
  color: #545454;
  background: #fff;
  border: 1px solid #b8b8b8;
}
.user-feeds .section a {
  font-size: 14px;
  margin-right: 5px;
}
.user-feeds .section a img {
  width: 64px;
  height: 64px;
  margin: 5px 5px 0 5px;
}
.user-feeds .section a .fa {
  display: inline-block;
  margin: 5px;
}
.user-feeds .section p:nth-child(3) {
  text-align: right;
  margin: -20px 0 4px 0;
  padding: 2px;
  width: 80%;
}
.user-feeds .section p:nth-child(3) a {
  display: inline-block;
  position: relative;
  top: -18px;
}
.user-feeds .section .activetrend,
.user-feeds .section .activetrend .fa {
  color: #1273b8;
}
.user-feeds .section .trend-feed ul {
  margin: 0 30px;
  padding: 0;
  list-style: square url("http://i.imgur.com/Etzny0O.png");
}
.user-feeds .section .trend-feed ul li {
  font-size: 12px;
}
.user-feeds .section .trend-feed ul li span:nth-child(1) {
  color: #999;
}
.user-feeds .section .trend-feed div a {
  float: left;
  font-size: 12px;
  margin-top: 4px;
}
.user-feeds .section .trend-feed div a:first-child {
  padding: 4px 0 0 4px;
}
.user-feeds .section .trend-feed div a:last-child {
  float: right;
  padding: 4px 0 0 4px;
}
.user-feeds .section:nth-child(1) > a:nth-child(2) {
  float: right;
  color: #8a8a8a;
}
 
.news-feed {
  right: 300px;
}


/*messenger css*/

.messenger {
  display: none;
  position: fixed;
  top: 42px;
  bottom: 0;
  width: 250px;
  background: #e9ebee;
  right: 0;
  width: 275px;
  padding: 12px 7px;
  background: #e9ebee;
  overflow-x: auto;
  border-left: 1px solid #a3a3a3;
}
.messenger ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50%;
  overflow: auto;
}
.messenger ul li {
  display: block;
  padding: 5px 5px 15px 5px;
  width: 100%;
  border-bottom: 1px solid #a3a3a3;
  cursor: pointer;
}
.messenger ul:first-child {
  list-style: none;
  padding: 0;
  height: 50%;
  overflow: auto;
}
.messenger ul:first-child li {
  display: block;
  padding: 5px 5px 15px 5px;
  width: 100%;
  border-bottom: 1px solid #a3a3a3;
  cursor: pointer;
}
.messenger ul:first-child li a {
  padding: 5px;
  font-size: 12px;
}
.messenger ul:first-child li img {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.messenger ul:first-child li b,
.messenger ul:first-child li span {
  color: #000;
}
.messenger ul:first-child li span {
  color: #545454;
}
.messenger ul:first-child li a:hover {
  text-decoration: none;
}
.messenger ul:first-child li:hover {
  background: #ccc;
}
.messenger ul:nth-child(2) {
  list-style: none;
  padding: 0;
  height: 50%;
  overflow: auto;
}
.messenger ul:nth-child(2) h4 {
  font-size: 12px;
  margin-top: 15px;
  color: #474747;
  text-transform: uppercase;
}
.messenger ul:nth-child(2) li {
  display: block;
  padding: 5px 5px 15px 5px;
  width: 100%;
  border-bottom: 1px solid #a3a3a3;
  cursor: pointer;
}
.messenger ul:nth-child(2) li a {
  padding: 5px;
  font-size: 12px;
}
.messenger ul:nth-child(2) li img {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.messenger ul:nth-child(2) li b,
.messenger ul:nth-child(2) li span {
  color: #000;
}
.messenger ul:nth-child(2) li span {
  display: block;
  float: right;
  position: relative;
  top: 8px;
  font-size: 9px;
  padding: 1px 2px;
  color: #545454;
  background: #fff;
  border: 1px solid #b8b8b8;
}
.messenger ul:nth-child(2) li .fa {
  float: right;
  position: relative;
  top: 8px;
  color: #1f0;
}
.messenger ul:nth-child(2) li a:hover {
  text-decoration: none;
}
.messenger ul:nth-child(2) li:hover {
  background: #ccc;
}

/*media Queries*/

@media all and (max-width: 700px) {
  .leftnavbar {
    display: none;
  }
  .news-feed {
    left: 0;
  }
  .topnavbar .user > .links {
    display: none;
  }
}


@media all and (max-width: 1000px) {
  .user-feeds {
    display: none;
  }
  .news-feed {
    right: 0;
  }
}



@media all and (min-width: 1260px) {
  .news-feed {
    right: 250px;
  }
  .messenger {
    right: 0;
  }
}



@media all and (min-width: 1260px) {
  .news-feed {
    right: 575px;
  }
  .user-feeds {
    right: 275px;
  }
  .messenger {
    display: block;
  }
}


.pointer {
  cursor: pointer;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}